<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bem-vindo à sua página inicial!</h1>
    <!-- Exibir informações do usuário do frontend -->
    <p>Usuário logado no frontend: {{ frontend_user }}</p>

    <!-- Exibir informações do usuário logado no backend -->
    <p>Usuário logado no backend: {{ backend_user.username }}</p>
    <!-- Você pode adicionar mais conteúdo personalizado para a página inicial -->
</body>
</html>
